include LICENSE
include MANIFEST.in
include README.md
include bin/iga
include examples/README.md
include examples/src/WORKSPACE
include examples/src/lib/BUILD
include examples/src/lib/hello.c
include examples/src/lib/hello.h
include examples/src/prog/BUILD
include examples/src/prog/main.c
include examples/workspace.py
include gen_manifest.sh
include setup.py
include tests/__init__.py
include tests/build_rules/__init__.py
include tests/build_rules/test-data/src/c/d.json
include tests/build_rules/test-data/src/pkg1/a.txt
include tests/build_rules/test-data/src/pkg1/b.json
include tests/build_rules/test_build_rules.py
include tests/build_rules/test_helpers.py
include tests/core/__init__.py
include tests/core/test_group.py
include tests/core/test_immutable_ordered_set.py
include tests/core/test_keyed_sets.py
include tests/core/test_ordered_set.py
include tests/core/test_write_once_dict.py
include tests/test_fargparse.py
include tests/test_label.py
include tests/test_path.py
include tests/test_registry.py
